
.home-jumbo {
    background: url('../img/dark.jpg') center;
}

.footer{

}
.navbar-brand{
    margin-left: 200px;
    font-weight:40;

}
.img-responsive{
    width: 100%;
    height: auto;
}

.footer{
    background-color: #11426c;
}

.main{
    max-width: 1000px;
    margin: auto;
}

.lessons{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.roundCard{
    background-color: #1290b7;
}

.grade{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.subjects{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}


.col1{
    margin-top: 10px;
    text-align: center;
    font-weight: 200
}

.col2{
    text-align: center;
    font-weight: 200

}

.col3{
    text-align: center;
    font-weight: 200;
}

.user_add{
    width: 150px;
    height: 150px;
}

.radio_check{
    text-align: inherit;
}
.avatars{
    margin-left: 250px;
}



