<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head>
        <title>EduTrace - Student Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../static/css/studentProfile.css" th:href="@{/css/mainView.css}" rel="stylesheet">

    </head>
</head>
<body>
<div class="jumbotron home-jumbo text-center text-white" style="margin-bottom:0">
    <h1 class="display-2">EduTrace</h1>
    <h5>Trace of your progress</h5>
</div>
<nav class="navbar navbar-expand-sm bg-dark  sticky-top navbar-dark">
    <a class="navbar-brand" href="#">EduTrace</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Podsumowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Grafik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 mb-5">
        <div class="row justify-content-center">

            <div class="col-md-4 border-right">
                <div class="p-3 card first-box shadow-lg bg-white">
                    <div class="profile img-fluid">
                        <img src="../static/img/avatars/maleAvatar3.png" class="rounded img-fluid profile-picture " width="220">
                    </div>
                    <span class="mt-3 ml-1 text-center display-4 justify-content-center align-items-center balance">Szymon</span>
                    <span><a href="#" class="btn mt-2 btn-block btn-warning ">Edytuj profil</a></span>
                    <span><a href="#" class="btn mt-2 btn-block btn-success ">Zobacz panel dydaktyczny</a></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0 mr-4">Imię</h6>
                            </div>
                            <div class="col-sm-5 text-secondary ">
                                Szymon
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Nazwisko</h6>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                Gad
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                szymongad@op.pl
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Telefon ucznia</h6>
                            </div>
                            <div class="col-sm-5 text-secondary">
                               589 458 687
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Rodzic</h6>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                Anna Gad
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Telefon rodzica</h6>
                            </div>
                            <div class="col-sm-5 text-secondary">
                                749 852 365
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-7">
                                <h6 class="mb-0">Dodatkowe informacje</h6>
                            </div>
                            <br>
                            <div class="col-sm-5  text-secondary">
                                Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>

</div>

<div class="jumbotron footer text-center" style="margin-bottom:0">
    <p></p>
</div>

</body>
</html>